LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GOOGLE_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
EMBEDDING_MODEL_NAME=static-retrieval-mrl-en-v1
GEMINI_LIVE_VOICE=Puck
GEMINI_LIVE_MODEL=gemini-2.5-flash-native-audio-preview-12-2025
API_HOST=0.0.0.0
PORT=8000
